@font-face {
  font-family: 'Arioso';
  src: url('https://raw.githubusercontent.com/TOOL2U/SIA-MOON-WEBSITE/main/public/fonts/woff2/Arioso-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ela Sans';
  src: url('https://raw.githubusercontent.com/TOOL2U/SIA-MOON-WEBSITE/main/public/fonts/woff2/ElaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}